.heading {
  font-size: 23px;
  width: 100%;
  margin: 0px;
}
.note {
  font-size: 15px;
  color: rgb(15, 1, 1);
}
body {
  background-size: cover;
}
#song {
  font-size: 23px;
  margin: 15px;
}
canvas {
  border: 5px solid rgb(45, 32, 218);
  border-radius: 20px;
  box-shadow: 5px 5px 5px #2ec2cf;
}
